body{
  @include font-family;
}

.header, .main, .footer{
  @include centrado;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  .logotipo{
    width: 75px;
  }
  &__title{
    h1{
      margin:0px;
      font-size: 1.25rem;
    }
  }
  &__lenguageMenu{
    a{
      font-weight: bold;
      font-size: 0.8rem;
      text-decoration: none;
      color:$links-color;
      &.active{
        text-decoration: underline;
      }
      &:hover{
        color:$links-hover;
      }
    }
  }
  @include desktop-laptop{
    @include tamano-xl;
  }
  @include tablet{
    @include tamano-tablet;
  }
  @include mobile{
    @include tamano-mobile;
    flex-direction: column-reverse;
    align-items: center
  }
}
nav{
  @include centrado;
  @include tamano-xl;
  display:flex;
  justify-content: center;
  ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    li{
      display: inline;
      margin-right: 1rem;
      &:last-of-type{
        margin-right: 0;
      }
      a{
        font-weight: bold;
        font-size: 1.25rem;
        text-decoration: none;
        color:$links-color;
        &.active{
          text-decoration: underline;
        }
        &:hover{
          color:$links-hover;
        }
      }
    }
  }
  @include desktop-laptop{
    @include tamano-xl;
  }
  @include tablet{
    @include tamano-tablet;
  }
  @include mobile{
    @include tamano-mobile;
    ul{
      li{
        display: block;
        margin-top: 0.5rem;
        margin-right: 0;
        text-align: center;
      }
    }
  }
}
.main{
  figure{
    margin:0;
    img{
      width: 100%;
    }
  }
  article{
    @include centrado;
    width: 90%;
    .author-bio{
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $background-block;
      &__foto{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        border-radius: 50%;
        width: 150px;
        height: 100px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      p{
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
    .module-blunder{
      p{
        &:first-of-type{
          border-top: 1px solid red;
          border-bottom: 1px solid red;
          margin-top: 0;
          padding:0.5rem;
          text-align: justify;
        }
        &:nth-of-type(2){
          margin:0;
          font-size: 0.6rem;
          text-align: center;
        }
        &:last-of-type{
          font-size: 0.8rem;
          text-align: justify;
        }
      }
    }
  }
  @include desktop-laptop{
    @include tamano-xl;
  }
  @include tablet{
    @include tamano-tablet;
    article{
      .author-bio{
        &__foto{
          width:225px;
        }
      }
    }
  }
  @include mobile{
    @include tamano-mobile;
    article{
      .author-bio{
        flex-direction: column;
        &__foto{
          width:100px;
          height: 100px;
        }
      }
    }
  }
  &.frontend-langs{
    margin-bottom: 4rem;
    .feimages{
      display: flex;
      figure{
        margin-right: 1rem;
        width: 150px;
        img{
          &:hover{
            transition: all 0.5s ease-in-out;
            filter:gray;
            filter:grayscale(100%)
          }
        }
        figcaption{
          font-size: 0.8rem;
          text-align: center
        }
      }
      @include mobile{
        flex-direction: column;
        figure{
          margin-right: 0;
          margin-bottom: 1rem;
          width: 100%;
        }
      }
    }
  }
}
.footer{
  @include centrado;
  @include tamano-xl;
  padding:1rem;
  background-color: #000;
  text-align: center;
  color: #fff;
  .logotipo{
    width: 75px;
  }
  &__adress{
    font-size: 0.8rem;
    p{
      margin:0.6rem;
    }
  }
  ul{
    list-style: none;
    li{
      display: inline;
    }
  }
  &__social-networks{
    ul{
      li{
        margin-right: 1rem;
        a{
          color:$base-negative;
        }
      }
    }
  }
  &__legal{
    ul{
      li{
        margin-right: 1rem;;
        &:last-of-type{
          margin-right: 0;
        }
        a{
          text-decoration: none;
          color:$base-negative;
        }
      }
    }
  }
  &__notice{
    font-size: 0.8rem;
  }
  @include desktop-laptop{
    @include tamano-xl;
  }
  @include tablet{
    @include tamano-tablet;
  }
  @include mobile{
    width: 100%;
    padding: 1rem 0;
    &__legal{
      ul{
        li{margin-right: 0.5rem;}
      }
    }
  }
}