//colors
$base-color:#000;
$base-negative: #fff;
$links-color: $base-color;
$links-hover: #666;

$background-base: #fff;
$background-footer: #000;
$background-block: #f7f3f4;

//break points
$tablet-width:769px;
$mobile-width:481px;